{% extends 'basenavbar.html' %}

{% block title %} DjBlog {% endblock %}

{% block content %}

    <h1 class="uk-heading-small uk-heading-divider">Последние публикации</h1>
    {% for post in posts %}
        <div class="uk-card uk-card-default uk-card-hover uk-margin-medium-bottom">
            <div class="uk-card-header">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ post.title }}</h3>
                <p class="uk-text-meta uk-margin-remove-top">Автор: {{ post.username }}. Опубликовано: {{ post.publication_time }}</p>
            </div>
            <div class="uk-card-body">
                <p style="white-space: pre-line;">
                    {{ post.text }}
                </p>
            </div>
            <div class="uk-card-footer">
                <a class="uk-link-muted" href="/post?id={{ post.id }}">Читать полностью</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}