{% extends 'basenavbar.html' %}
{% load static %}

{% block title %} DjBlog {% endblock %}
{% block style %}

    <style>
        #like {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            background-size: contain;
        }
        #like:hover {
            background-image: url("{% static 'img/heart_hover.svg' %}") !important;
        }
        .like_set {
            background-image: url("{% static 'img/heart_filled.svg' %}");
        }
        .like_unset {
            background-image: url("{% static 'img/heart.svg' %}");
        }
    </style>

{% endblock %}

{% block content %}

    <h1 class="uk-heading-small uk-margin-remove-bottom">{{ post.title }}</h1>
    <span>Автор: {{ post.username }}. Опубликовано: {{ post.publication_time }}</span>
    <p class="uk-text-lead uk-margin-remove-top uk-margin-small-bottom" style="white-space: pre-wrap;">
        {{ post.text }}
    </p>
    <div id="likes" class="uk-flex uk-flex-middle">
        <a href="/like?post={{ post.id }}">
            <div id="like" class="{% if liked %} like_set {% else %} like_unset {% endif %}"></div>
        </a>
        <span class="uk-margin-left uk-text-lead uk-text-lighter">Понравилось {{ likes }} {{ likes_text }}</span>
    </div>
    <h1 id="commentaries" class="uk-heading-small uk-heading-line uk-margin-medium-top">Комментарии</h1>
    {% if request.user.is_authenticated %}
        <form action="/post" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input class="uk-input uk-form-large uk-width-2-3" type="text" name="text" placeholder="Добавьте ваш комментарий...">
            <input class="uk-button uk-button-primary uk-button-large uk-width-1-4 uk-margin-left" type="submit" value="Отправить">
        </form>
    {% endif %}
    {% for comment in comments %}
        <div class="uk-card uk-card-default uk-card-body uk-margin-medium-top">
            <span>Автор: {{ comment.author.username }}</span><br>
            <span class="uk-text-lead">{{ comment.text }}</span>
        </div>
    {% endfor %}

{% endblock %}